@if(mostrarModalConfirmacion) {
<div class="modal-overlay">
  <div class="modal-container">
    <h2 class="modal-title">Confirmar reunión</h2>

    <div class="modal-info">
      <p>{{ fechaSeleccionada | date:'fullDate':undefined:translate.currentLang }}</p>
      <p>{{ fechaSeleccionada | date:'shortTime':undefined:translate.currentLang }} - {{ 'calendar.duration' | translate:{hours:1} }}</p>
    </div>

    <form [formGroup]="datosUsuario">
      <input type="text" [required]="true" name="nombre" formControlName="nombre" placeholder="Tu nombre" required />
      <input type="text" name="empresa" formControlName="empresa" placeholder="Empresa (opcional)" />
      <input type="email" [required]="true" name="email" formControlName="email" placeholder="Correo electrónico"
        required />

      <div class="modal-actions">
        <button type="button" (click)="confirmarReunion()" [disabled]="datosUsuario.invalid">Aceptar</button>
        <button type="button" (click)="cancelarReunion()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
}