<!-- Botón flotante -->
<div class="fixed bottom-6 right-6 z-50" (click)="toggleChat()">
  <button
    class="w-14 h-14 rounded-full bg-primary text-white shadow-lg flex items-center justify-center hover:scale-105 transition-all duration-300"
    aria-label="Abrir chat">
    <fa-icon [icon]="faComments" class="w-6 h-6"></fa-icon>
  </button>
</div>

<!-- Chat modal -->
@if (isOpen) {
<div
  class="bg-[#111827] border border-[#1f2937] rounded-xl shadow-lg p-4 scrollbar-custom backdrop-blur-md fixed bottom-2 right-10 text-text flex flex-col z-40 overflow-hidden min-w-72 min-h-[60vh] md:min-h-[90vh] bot-container"
  [ngClass]="animationClass">

  <!-- Botón cerrar -->
  <button (click)="toggleChat()"
    class="text-white/60 bg-transparent hover:bg-transparent hover:text-white transition hover:scale-150 rounded-full focus:outline-none absolute left-pos-close-bot-button"
    aria-label="Cerrar chat">
    <fa-icon [icon]="faChevronDown" size="1x"></fa-icon>
  </button>

  <!-- Header del chat -->
  <div class="p-4 border-b border-white/10 font-semibold text-lg flex items-center gap-2">
    <!-- Character IMG -->
    <div class="w-24 h-24 rounded-full overflow-hidden border-4 border-primary shadow-md">
      <img src="../../../../assets/icons/character-assistant.png" alt="AI Assistant Avatar"
        class="w-full h-full object-cover" />
    </div>
    {{ 'chatbot.virtual-assistant' | translate }}
  </div>

  <!-- Área de mensajes -->
  <div #messagesContainer class="p-4 text-sm text-white/80 flex-1 overflow-auto space-y-2">
    @for (msg of messages; track msg) {
    <div [ngClass]="{ 'text-right': msg.from === 'user', 'text-left': msg.from === 'bot' }">
      <div class="inline-block max-w-[75%] px-4 py-2 rounded-xl text-sm" [ngClass]="{
              'bg-primary text-white': msg.from === 'user',
              'bg-white/10 text-white': msg.from === 'bot'
            }">
        {{ msg.text }}
      </div>
    </div>
    }

    <!-- Indicador de escritura -->
    @if (isBotTyping) {
    <div class="text-left">
      <div class="inline-block bg-white/10 text-white text-sm px-4 py-2 rounded-xl max-w-[75%]">
        <span class="typing-dots"></span>
      </div>
    </div>
    }
  </div>

  <!-- Input y botón de envío -->
  <div class="p-2 border-t border-white/10 flex gap-2 items-start">
    <textarea #chatInput [(ngModel)]="messageInput" maxlength="1000" [placeholder]="'chatbot.type-here' | translate"
      class="w-full h-24 resize-none bg-transparent border border-white/20 rounded px-3 py-2 text-sm text-white outline-none">
      </textarea>

    <button (click)="sendMessage(messageInput)" [disabled]="!messageInput.trim()"
      class="bg-primary text-white w-10 h-10 rounded-full hover:bg-primary/90 transition disabled:opacity-30 flex items-center justify-center"
      aria-label="Enviar mensaje">
      <fa-icon [icon]="faPaperPlane" class="w-4"></fa-icon>
    </button>
  </div>
</div>
}