:root {
  --primary: #42547b;
  --primary-gradient: linear-gradient(135deg, #42547b, #7c83ff);
  --secondary: #7c83ff;
  --danger: #ef4444;
  --warning: #facc15;
  --success: #22c55e;
  --disabled: #6b7280;
  --text-color-disabled: #f3f4f6;
  --background: #0f172a;
  --background-color: #0f172a;
  --text-color: #f3f4f6;
  --card-border: #202935;
  --background-gradient: linear-gradient(180deg, #0f172a 0%, #1e293b 50%, #0f172a 100%);
  --hover-text: #1e293b;
  --hover-primary: #7085b3;
  --hover-secondary: #e2e4ff;
  --active-primary: #92a2c4;
  --active-secondary: white;
  --hover-danger: #f7a2a2;
  --active-danger: #fbd1d1;
}

.fade-in {
  @apply opacity-0 animate-fade-in transition-opacity duration-500 ease-out;
}

.fade-up {
  @apply opacity-0 animate-fade-up transition-all duration-500 ease-out;
}

.fade-left {
  @apply opacity-0 animate-fade-left transition-all duration-500 ease-out;
}

.zoom-in {
  @apply opacity-0 animate-zoom-in transition-transform duration-500 ease-out;
}

@layer utilities {
  .typing-dots::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: typingDots 0.7s steps(3, end) infinite;
  }
  @keyframes typingDots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
}
@keyframes chatSlideFromButton {
  0% {
    opacity: 0;
    transform: scale(0) translateX(1200px) translateY(1400px);
  }
  80% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
  }
}
@keyframes chatSlideToButton {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
  }
  20% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(0.05) translateX(1200px) translateY(1400px);
  }
}
.chat-in {
  animation: chatSlideFromButton 0.3s ease-out forwards;
}

.chat-out {
  animation: chatSlideToButton 0.3s ease-in forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: var(--background-gradient);
  min-height: 100vh;
  color: var(--text-color);
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.bg-background {
  background: var(--background-gradient);
}

.shadow {
  --tw-shadow-color: #bebebe;
  --tw-shadow: 0 1px 3px 0 rgba(197, 0, 0, 0.1), 0 1px 2px -1px rgba(158, 158, 158, 0.856);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: -1px 0px 2px 7px rgba(209, 209, 209, 0.3215686275), -1px -1px 4px 6px rgba(14, 14, 14, 0), var(--tw-shadow);
}

h1 {
  color: var(--primary);
}

p {
  color: var(--text);
}

.text-danger {
  color: var(--danger);
  animation: blink 1s 3;
}

.border-danger {
  border-color: var(--danger);
}

.border-success {
  border-color: var(--success);
}

.card-border {
  border-color: var(--card-border);
}

button {
  background-color: var(--primary);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
button:hover {
  background-color: var(--hover-primary);
  color: var(--hover-text);
}
button:active {
  background-color: var(--active-primary);
  transform: scale(0.95);
}
button:focus {
  outline: none;
}

button.danger {
  background-color: var(--danger);
}
button.danger:hover {
  background-color: var(--hover-danger);
}
button.danger:active {
  background-color: var(--active-danger);
}

.button-invalid {
  background-color: var(--disabled);
  cursor: not-allowed;
  color: var(text-color-disabled);
}

.button-invalid:hover {
  background-color: var(--disabled);
}

.btn-gradient {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-lg font-medium transition duration-300;
  background: var(--primary-gradient);
  color: white;
  border: none;
  overflow: hidden;
}
.btn-gradient:after {
  background: #fff;
  content: "";
  height: 180px;
  left: -80px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.btn-gradient:hover {
  background: var(--primary-gradient);
  box-shadow: 0 0 7px white;
  transform: scale(1.02);
  color: white;
}
.btn-gradient:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-gradient:active {
  transform: scale(0.97);
}
.btn-gradient:disabled {
  background: var(--disabled);
  color: var(--text-color-disabled);
  cursor: not-allowed;
  opacity: 0.6;
}

a:hover {
  color: var(--hover-primary);
  text-decoration: underline;
}
a:active {
  color: var(--active-primary);
  transform: scale(0.95);
}/*# sourceMappingURL=styles.css.map */